- name: Send funds
  shell: "docker exec -it geth geth attach {{ geth_connection }} --exec=\"eth.sendTransaction({from:eth.coinbase, to:'{{ deposit_contract }}', value: web3.toWei(32, 'ether'), data: '{{ item }}', gas: 600000})\""
  register: send_result

- name: Check sending
  fail:
    msg: "Send failed, result: {{ send_result.stdout }}"
  when: send_result.stdout|regex_findall('0x([A-Fa-f0-9]{64})')|length == 0

- name: Mark as deposited in new file
  lineinfile:
    path: /home/{{ prysm_user }}/depositdata.sent
    line: "{{ item }},{{ send_result.stdout| regex_replace('\\x1B\\[([0-9]{1,2}(;[0-9]{1,2})?)?[mGK]', '') }}"
    create: yes

- name: Remove deposit data from file
  lineinfile:
    path: /home/{{ prysm_user }}/depositdata
    line: "{{ item }}"
    state: absent
