version: "3.7"

x-disabled-service:
        &disabled-service
                image: tianon/true
                restart: "no"
                command: ""
                entrypoint: ""

services:
        geth:
                ports:
                        - {{hostvars[inventory_hostname].eth2node_ha_ip}}:8545:8545
        beacon:
                depends_on:
                        - haproxy
                ports:
                        - {{hostvars[inventory_hostname].eth2node_ha_ip}}:3500:3500
                        - {{hostvars[inventory_hostname].eth2node_ha_ip}}:4000:4000
                        - {{hostvars[inventory_hostname].eth2node_ha_ip}}:8480:8480
                volumes:
                        - ./config/ha/beacon.yaml:/config/beacon.yaml:ro
        validator:
                depends_on:
                        - haproxy
                volumes:
                        - ./config/ha/validator-wallet.yaml:/config/validator.yaml:ro
        slasher:
                depends_on:
                        - haproxy
                ports:
                        - {{hostvars[inventory_hostname].eth2node_ha_ip}}:4002:4002
                volumes:
                        - ./config/ha/slasher.yaml:/config/slasher.yaml:ro
        prometheus:
                <<: *disabled-service
        grafana:
                <<: *disabled-service
        haproxy:
                container_name: haproxy
                image: haproxy:2.1-alpine
                restart: always
                hostname: haproxy
                ports:
                        - {{hostvars[inventory_hostname].eth2node_ha_ip}}:80:80
                        - 127.0.0.1:80:80
                volumes:
                        - ./config/ha/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro